@model Reading_Reviewys.Models.Priveligiado

@{
    ViewData["Title"] = "Detalhes de Priveligiado";
}

<h1>Detalhes de Priveligiado</h1>

<div>
    <h4>Priveligiado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Subscricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Subscricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Entrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Entrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem_Perfil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagem_Perfil)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUser">Editar</a> |
    <a asp-action="Index">Regressar à listagem</a>
</div>
