@model Reading_Reviewys.Models.Reviews
@using System.Security.Claims

@{
    ViewData["Title"] = "Detalhes da Review";

    // Obtenção do ID do user atual
    var userID = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h1>Detalhes da Review</h1>

<div>
    <h4>Reviews</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoReview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoReview)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAlteracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAlteracao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador)
        </dt>
        <dd class = "col-sm-10">
            <a asp-action="Details" asp-controller="Utilizador" asp-route-id="@Model.Utilizador.IdUser">
                @Model.Utilizador.Username
            </a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Livro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Livro.Titulo)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && userID == Model.UtilizadorFK.ToString())
    {
        <a asp-action="Edit" asp-route-id="@Model?.IdReview">Editar</a>
    }
    <a asp-action="Index">Regressar à listagem</a>
</div>
