@model IEnumerable<Reading_Reviewys.Models.Reviews>

@{
    ViewData["Title"] = "Index das Reviews";
    string userID = (string)ViewData["UserID"];
}

<h1>Index das Reviews</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Criar nova review</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoReview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAlteracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoReview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAlteracao)
            </td>
            <td>
                    <a asp-action="Details" asp-controller="Utilizador" asp-route-id="@item.Utilizador.IdUser">
                        @item.Utilizador.Username
                    </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Livro.Titulo)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated &&
                     item.Utilizador.UserID == userID )
                {
                <text>
                    <a asp-action="Edit" asp-route-id="@item.IdReview">Editar</a> 
                    <a asp-action="Delete" asp-route-id="@item.IdReview">Apagar</a>
                </text>
                }
                    <a asp-action="Details" asp-route-id="@item.IdReview">Detalhes</a> 
            </td>
        </tr>
}
    </tbody>
</table>
