@model Reading_Reviewys.Models.Comentarios
@using System.Security.Claims

@{
    ViewData["Title"] = "Detalhes de Comentário";

    // Obtenção do ID do user atual
    var userID = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h1>Detalhes do Comentário</h1>

<div>
    <h4>Comentarios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Review)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Review.DescricaoReview)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CriadorComentario)
        </dt>
        <dt class = "col-sm-2">
            <a asp-action="Details" asp-controller="Utilizador" asp-route-id="@Model.CriadorComentario.IdUser">
                @Model.CriadorComentario.Username
            </a>
        </dt>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrador"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
    }
    <a asp-action="Index">Regressar à listagem</a>
</div>
