@model Reading_Reviewys.Models.Autor

@{
    ViewData["Title"] = "Detalhes de Autores";
}

<h1>Detalhes de Autores</h1>

<div>
    <h4>Autor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Entrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Entrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem_Perfil)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Imagens/@Html.DisplayFor(model => model.Imagem_Perfil)"
                  alt="Imagem de Perfil @Html.DisplayFor(model => model.Imagem_Perfil)"
                  title="@Html.DisplayFor(model => model.Imagem_Perfil)"
                  width="75px" />
        </dd>
    </dl>
</div>

@* Só os Administradores podem ver esta opção *@
<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrador"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.IdUser">Editar</a>
    }
    <a asp-action="Index">Regressar à listagem</a>
</div>
