@model Reading_Reviewys.Models.Comentarios

@{
    ViewData["Title"] = "Apagar Comentario";
}

<h1>Apagar comentario</h1>

<h3>Tem a certeza que quer apagar o comentario selecionado?</h3>
<div>
    <h4>Comentarios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Review)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Review.DescricaoReview)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CriadorComentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CriadorComentario.Username)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Regressar à listagem</a>
    </form>
</div>
