@model IEnumerable<Reading_Reviewys.Models.Livro>
@using System.Security.Claims

@{
    ViewData["Title"] = "Index de Livros";
}

<h1>Index de Livros</h1>

@* Apenas Administradores e Autores podem ver esta opção *@
@if (User.Identity.IsAuthenticated && (User.IsInRole("Administrador") || User.IsInRole("Autor")))
{
    <p>
        <a asp-action="Create">Criar novo livro</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Capa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoPublicacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/Imagens/@Html.DisplayFor(modelItem => item.Capa)"
                     alt="Capa do Livro @Html.DisplayFor(modelItem => item.Titulo)"
                     title="@Html.DisplayFor(modelItem => item.Titulo)"
                     width="75px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoPublicacao)
            </td>
            <td>
                @* Apresentação das Opções de "Edit" e "Delete" apenas a Autores ou Admins *@
                @if (User.Identity.IsAuthenticated && (User.IsInRole("Autor") || User.IsInRole("Administrador")))
                {
                    <text>
                        <a asp-action="Edit" asp-route-id="@item.IdLivro">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.IdLivro">Apagar</a>
                    </text>
                }
                <a asp-action="Details" asp-route-id="@item.IdLivro">Detalhes</a> 
            </td>
        </tr>
}
    </tbody>
</table>
